
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium';
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 2vmin;
  height: 100vh;
}
/* .App{
  text-align: center;
  display: flex;
  flex-direction: column;
} */
p.error-message {
  color: magenta;
  text-align: center;
}
.login {
  height: 40vh;
  width: 400px;
 border-radius: 15px;
 border: solid white;
 padding: 20px;
}
.title{
  padding:50px;
  border-radius: 1vmin;
    color: rgb(3, 203, 3);
  font-family: 'Franklin Gothic Medium';
  font-size: 28px;
  text-align: center;
}
.formContainer{
 width: 100px;
  padding: 80px 40px 0px 150px ;
  display: flex;
  text-align: center;
  justify-content: center;
}
label {
  font-size: 2vmin;
  color: rgb(3, 203, 3);
  font-family: 'Franklin Gothic Medium';
  font-size: 28px;
}
.auth{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;
  border: solid white;
  height: 550px;
}
button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: rgb(3, 203, 3);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  margin-top: 20px;

}
button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: red;
  color: black;
}
link,a{
  text-decoration: none;
  cursor: pointer;
  color: rgb(3, 203, 3);
  font-size: 30px;

}
nav{
  font-size: 30px;
  width: 750px;
}
.post{
  border: solid thick rgb(255, 0, 225);
  background-color: rgba(0, 0, 0, 0.666);
  border-radius: 15px;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 80px;
  height: 500px;
  width: 800px; 
   transform: translate(-50%,-50%);
  top: 40%;
  left: 50%;
  position: fixed;
  font-size: 25px;
}
input{
  width: 350px;
  height: 30px;
  font-size: 22px;
}
/* .form{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 650px;
  
} */
.subBtn{

  margin-left: 0px;
  font-size: 20px;
  background-color: #5d00cf00;
  height: 250px;
  width: 150px;
  border-radius: 15px;
  border: solid thick rgb(51, 51, 51);
  color: rgb(3, 203, 3);
}
.main{
  display: flex;
}
.feedContainer{
width: 50%;
/* border: solid thick linear-gradient(blue,purple,orange,yellow);
border-width: 5px;
border-image-source: url('https://i.pinimg.com/originals/37/3f/77/373f77f1eb1a21c1c7e627c42c6b6136.gif') ;
border-image-source: url('https://media2.giphy.com/media/xUPGcxmPVkyNEo9amc/giphy.gif?cid=ecf05e473rf06o9y9uyp9zywp1d8jff1aol1rqs906sh1tba&ep=v1_gifs_search&rid=giphy.gif&ct=g') ;
border-style: solid;
border-image: linear-gradient(rgb(30, 255, 0),rgb(0, 190, 6),rgb(255, 0, 191),rgb(247, 0, 255));
border-image-slice: 39%; */
margin: 20px;
}
.postContainer{
width: 200px;
/* border: solid thick black;
border-width: 5px;
border-image-source: url('https://i.pinimg.com/originals/37/3f/77/373f77f1eb1a21c1c7e627c42c6b6136.gif') ;
border-image-source: url('https://media2.giphy.com/media/xUPGcxmPVkyNEo9amc/giphy.gif?cid=ecf05e473rf06o9y9uyp9zywp1d8jff1aol1rqs906sh1tba&ep=v1_gifs_search&rid=giphy.gif&ct=g') ;
border-style: solid;
border-image: linear-gradient(rgb(30, 255, 0),rgb(0, 190, 6),rgb(255, 0, 191),rgb(247, 0, 255));
border-image-slice: 39%;
border-image-slice: 39%; */
position: fixed;
left: 60%;
margin: 20px;
}
.postImg{
height: 600px;
width: 600px;
}
.showPost{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid white; */
  /* padding: 20px; */
}
.p{
  border: solid rgb(255, 0, 225);
  border-radius: 15px;
  width: 800px;
  height: 800px;
 margin: 10px;
}
.postDeatz{
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 450px;
  margin: 0px 0px 150px 150px;
}
h1{
  margin-bottom: 120px;
  font-size: 80px;
}
.x{
  font-size: 50px;
  margin:0px 0px 0px 500px;
  
}
/* .postBox{
  border: solid white;
} */